<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | GoodMed</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <h1>GoodMed</h1>
      <ul>
        <a href="/">Home</a>
        <a href="/medicines">Medicines</a>
        <a href="/cart">Cart</a>
      </ul>
    </nav>
    <main><%- body %></main>
    <footer>
      <p>
        &copy; 2024 GoodMed | Contact us: info@goodmed.com | Phone:
        +123-456-7890
      </p>
    </footer>
  </body>
</html>
