<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | GoodMed</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <h1>GoodMed Platform</h1>
      <a href="/">Home</a>
      <a href="/medicines">Medicines</a>
      <a href="/cart">Cart</a>
    </nav>
    <main><%- body %></main>
    <footer>
      <p>&copy; 2024 GoodMed</p>
    </footer>
  </body>
</html>
